@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokemonGb';
  src: url('/PokemonGb-RAeo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
    background-color: black;
    color: #999;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: large;
}